<h3>Log In</h3>

<%= form_tag sessions_path do %>

	<div class="control-group">
    <%= label_tag :email %>
    <div class="controls">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>

	<!-- TODO: verify that encoding the passwords as Base64 strings is sufficiently secure -->
	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>