<h3>Reset Password for <%= @user.name %></h3>

<%= form_tag password_reset_path do %>

	<div class="control-group">
    <%= label_tag :password %>
    <div class="controls">
      <%= password_field_tag :password %>
    </div>
  </div>

	<div class="control-group">
    <%= label_tag :password_confirmation %>
    <div class="controls">
      <%= password_field_tag :password_confirmation %>
    </div>
  </div>

	<!-- TODO: Make sure someone can't tamper with this hidden field -->
	<%= hidden_field_tag :user_id, @user.id %>

  <div class="actions"><%= submit_tag "Reset Password" %></div>
<% end %>